<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Eshi Blood is a blood donation system intended to make the donation process easier and engaging than ever."
    />
    <title>EshiBloodASP</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/site.css')}}"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
    />

    <link
      href="{{url_for('static',filename='plugins/custom/fullcalendar/fullcalendar.bundle.css')}}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="{{url_for('static',filename='plugins/global/plugins.bundle.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{url_for('static',filename='plugins/custom/prismjs/prismjs.bundle.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{url_for('static',filename='css/style.bundle.css')}}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="{{url_for('static',filename='css/themes/layout/header/base/dark.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{url_for('static',filename='css/themes/layout/header/menu/light.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{url_for('static',filename='css/themes/layout/brand/dark.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{url_for('static',filename='css/themes/layout/aside/dark.css')}}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="shortcut icon"
      href="{{url_for('static',filename='media/logos/favicon.ico')}}"
    />
  </head>
  <body
    id="kt_body"
    class="
      page-loading-enabled page-loading
      header-fixed header-mobile-fixed
      subheader-enabled
      aside-enabled aside-fixed aside-minimize-hoverable
      page-loading
    "
  >
    {%include 'shared/adminShared/_page-loader.html'%} {%include
    'shared/adminShared/_header-mobile.html'%}

    <div class="d-flex flex-column flex-root">
      <div class="d-flex flex-row flex-column-fluid page">
        {%include 'shared/adminShared/_header-mobile.html'%} 
        {%include 'shared/adminShared/_aside.html'%}
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          {%include 'shared/adminShared/_header.html'%}
          <div
            class="content d-flex flex-column flex-column-fluid"
            id="kt_content"
          >
          {%include 'shared/adminShared/_subheader/_subheader-v3.html'%}
            {%block content%} {% endblock %}
          </div>
        </div>
      </div>
    </div>
    {%include 'shared/adminShared/_extras/offcanvas/quick-user.html'%} {%include
    'shared/adminShared/_extras/offcanvas/quick-cart.html'%} {%include
    'shared/adminShared/_extras/offcanvas/quick-panel.html'%} {%include
    'shared/adminShared/_extras/chat.html'%} {%include
    'shared/adminShared/_extras/scrolltop.html'%} 
    {%include 'shared/adminShared/_extras/toolbar.html'%}
    {%include 'shared/adminShared/_extras/offcanvas/demo-panel.html'%}
    

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="{{url_for('static',filename='lib/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/site.js')}}" asp-append-version="true"></script>

    <script>
      var KTAppSettings = {
        breakpoints: {
          sm: 576,
          md: 768,
          lg: 992,
          xl: 1200,
          xxl: 1400,
        },
        colors: {
          theme: {
            base: {
              white: "#ffffff",
              primary: "#3699FF",
              secondary: "#E5EAEE",
              success: "#1BC5BD",
              info: "#8950FC",
              warning: "#FFA800",
              danger: "#F64E60",
              light: "#E4E6EF",
              dark: "#181C32",
            },
            light: {
              white: "#ffffff",
              primary: "#E1F0FF",
              secondary: "#EBEDF3",
              success: "#C9F7F5",
              info: "#EEE5FF",
              warning: "#FFF4DE",
              danger: "#FFE2E5",
              light: "#F3F6F9",
              dark: "#D6D6E0",
            },
            inverse: {
              white: "#ffffff",
              primary: "#ffffff",
              secondary: "#3F4254",
              success: "#ffffff",
              info: "#ffffff",
              warning: "#ffffff",
              danger: "#ffffff",
              light: "#464E5F",
              dark: "#ffffff",
            },
          },
          gray: {
            "gray-100": "#F3F6F9",
            "gray-200": "#EBEDF3",
            "gray-300": "#E4E6EF",
            "gray-400": "#D1D3E0",
            "gray-500": "#B5B5C3",
            "gray-600": "#7E8299",
            "gray-700": "#5E6278",
            "gray-800": "#3F4254",
            "gray-900": "#181C32",
          },
        },
        "font-family": "Poppins",
      };
    </script>

    <script src="{{url_for('static',filename='plugins/global/plugins.bundle.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/custom/prismjs/prismjs.bundle.js')}}"></script>
    <script src="{{url_for('static',filename='js/scripts.bundle.js')}}"></script>

    <script src="{{url_for('static',filename='plugins/custom/fullcalendar/fullcalendar.bundle.js')}}"></script>

    <script src="{{url_for('static',filename='js/pages/widgets.js')}}"></script>
  </body>
</html>
